.list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  flex: 1 0 45%;

  margin-bottom: 20px;
}

.item:not(:nth-child(even)) {
  margin-right: 20px;
}
