.nav {
  display: flex;
  padding: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 5px 10px;
  background-color: #fff;
  color: #212121;
  text-decoration: none;
}

.nav-link-active {
  background-color: #212121;
  color: #ffffff;
}
